 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

 /* color variables*/
 :root{
--white: hsl(0, 0%, 100%);
--gray: hsl(212, 45%, 89%);
--grayishblue: hsl(220, 15%, 55%);
--darkblue: hsl(218, 44%, 22%)
}

*{
    margin: 0;
    padding: 0;
}
body{
width: 1440px;
height: 100vh;
display: flex;
font-family: 'Outfit', sans-serif;
background-color:var(--gray) ;
}

.cont{
    width:288px;
    padding: 16px;
    height: 497px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.0477);
    margin: auto;
}

.immg{
width: 100%;
border-radius: 10px;
}


.heading{
    margin-top: 24px;
    font-weight: 700px;
    font-size: 22px;
    line-height: 27.72px;
    text-align: center;
    color: var(--darkblue);
    letter-spacing: 1px;
}

.paragraph{
    font-weight: 400px;
    font-size: 15px;
    line-height: 18.9px;
    text-align: center;
    color: var(--grayishblue);
    letter-spacing: 0.19px; 
    margin: 16px 16px 24px 16px;
}